<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the End User License Agreement (EULA)
  * that is bundled with this package in the file LICENSE.txt.
  * It is also available through the world-wide-web at this URL:
  * https://cedcommerce.com/license-agreement.txt
  *
  * @category  Ced
  * @package   Ced_GraphQl
  * @author    CedCommerce Core Team <connect@cedcommerce.com >
  * @copyright Copyright CEDCOMMERCE (https://cedcommerce.com/)
  * @license      https://cedcommerce.com/license-agreement.txt
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                 <resource id="Ced_GraphQl::graphql" title="Books And Authors" sortOrder="30">
                    <resource id="Ced_GraphQl::author" title="Manage Author" sortOrder="10"/>
                     <resource id="Ced_GraphQl::book" title="Manage Books" sortOrder="10" />
                 </resource>
             </resource>  
        </resources>
    </acl>
</config>