<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the End User License Agreement (EULA)
  * that is bundled with this package in the file LICENSE.txt.
  * It is also available through the world-wide-web at this URL:
  * https://cedcommerce.com/license-agreement.txt
  *
  * @category  Ced
  * @package   Ced_GraphQl
  * @author    CedCommerce Core Team <connect@cedcommerce.com >
  * @copyright Copyright CEDCOMMERCE (https://cedcommerce.com/)
  * @license      https://cedcommerce.com/license-agreement.txt
  */
 -->
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"> 
 	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="book_grid_data_source" xsi:type="string">Ced\GraphQl\Model\ResourceModel\Book\Collection</item>
            </argument>
        </arguments>
    </type>
 
 <virtualType name="Ced\GraphQl\Model\ResourceModel\Book\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">books_data</argument>
            <argument name="resourceModel" xsi:type="string">Ced\GraphQl\Model\ResourceModel\Book</argument>
        </arguments>
 </virtualType>
 
  <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="author_grid_data_source" xsi:type="string">Ced\GraphQl\Model\ResourceModel\Author\Collection</item>
            </argument>
        </arguments>
    </type>
 
 <virtualType name="Ced\GraphQl\Model\ResourceModel\Author\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">author_data</argument>
            <argument name="resourceModel" xsi:type="string">Ced\GraphQl\Model\ResourceModel\Author</argument>
        </arguments>
 </virtualType>
 
</config>